* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#game-container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}
#weapon-selection-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.weapon-selection {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}
.information {
    width: 20%;
    height: 10%;
    border: 2px solid black;
}
#round-result {
    text-align: center;
}
